/* Media Queries */
@media screen and (max-width: 1366px) {

    * {
        margin: 0 auto;
        padding: 0;
    }

    /* Header Media Queries */

    @media screen and (max-width: 900px) {

        .header {
            padding-bottom: 0px;
            margin-bottom: 0;
        }

        .header .header-content h2 {
            font-size: 22px;
        }


        .header .header-content .header-links a {
            font-size: 16px;
         }
        
    }

    @media screen and (max-width: 768px) {

        .header .header-content h2 {
            font-size: 20px;
        }

        .header .header-content .header-links a {
            font-size: 14px;
        }

        .header .header-content .header-links {
            margin-right: 50px;
        }

        .header .header-content .logo-link {
            margin-left: 50px;
        }
       
    }

    @media screen and (max-width: 400px) {
        .header .header-content .header-links {
            margin-right: 30px;
        }

        .header .header-content .logo-link {
            margin-left: 30px;
        }
        
    }


    /* Hero Media Queries */
    .hero {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }

    .hero .img-container {
        height: 230px; 
    }

    .hero .hero-txt h1 {
        font-size: 30px;
    }

    .hero .hero-txt p {
        font-size: 15px;
    }

    .hero .hero-txt .hero-btn {
        width: 100px;
    }

    @media screen and (max-width: 900px) {
        .hero .img-container {
            width: 400px;
            height: 200px;
        }

        .hero .hero-txt h1 {
            font-size: 24px;
        }
    
        .hero .hero-txt p {
            font-size: 14px;
        }
    
        .hero .hero-txt .hero-btn {
            width: 100px;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .hero .img-container {
            width: 500px;
            height: 300px;
        }    
        .hero .hero-txt .hero-btn {
            width: 120px;
            font-size: 15px;
        }
        .hero {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            padding-right: 30px;
        }
    
        .hero .hero-txt {
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            width: 100%;
        }
    
        .hero .hero-txt h1 {
            font-size: 28px;
        }
    
        .hero .hero-txt p {
            font-size: 18px;
            padding-bottom: 15px;
            text-align: center;
            max-width: 500px;
        }

        .header-hero .hero {
            padding-top: 40px;
            padding-bottom: 75px;
            gap: 25px;
        }
    }

    @media screen and (max-width: 600px) {
        .hero .img-container {
            width: 100%;
            height: 300px;
        }

        .hero .hero-txt .hero-btn {
            width: 120px;
            font-size: 15px;
        }
        .hero {
            display: flex;
            flex-direction: column;
            padding-left: 35px;
            padding-right: 35px;
        }
    
        .hero .hero-txt {
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
        }
    
        .hero .hero-txt h1 {
            font-size: 26px;
        }
    
        .hero .hero-txt p {
            font-size: 16px;
            padding-bottom: 15px;
        }

        .header-hero .hero {
            padding-top: 35px;
            padding-bottom: 70px;
            gap: 20px;
        }

        @media screen and (max-width: 500px) {
            .hero .img-container {
                width: 100%;
                height: 200px;
            }
            .hero .hero-txt h1 {
                font-size: 20px;
            }
        
            .hero .hero-txt p {
                font-size: 15px;
                padding-bottom: 15px;
            }
            .header-hero .hero {
                padding-top: 30px;
                padding-bottom: 65px;
            }
            .hero .img-container .banner-logo {
                height: 300px;
            }
        }

        @media screen and (max-width: 400px) {

            .hero .img-container .banner-logo {
                height: 200px;
            }

            .header-hero .hero {
                padding-top: 30px;
                padding-bottom: 60px;
            }

            .hero .hero-txt h1 {
                font-size: 18px;
            }

            .hero .hero-txt p {
                font-size: 14px;
            }
            
        }
    }

/* Main Container Media Queries */

    /* Info Media Queries */
    .info .info-content {
        padding-bottom: 50px;
    }

    .info .info-content h2 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 30px;

    }

    .info-content .box-container {
        gap: 40px;

    }

    .info-content .box-container .bluebox {
        height: 175px;
        width: 175px;
        border: 5px solid #3882F6;
        border-radius: 15px;
    }
    .info .info-content .info-btn {
        width: 120px;
    }   
    
    @media screen and (max-width: 900px) {
        .info .info-content {
            padding-bottom: 25px;
        }

        .info .info-content h2 {
            font-size: 28px;
        }
    
        .info-content .box-container {
            padding-left: 150px;
            padding-right: 150px;
            width: 100%;
            gap: 30px;
        }

        .info-content .box-container .subtext {
            font-size: 18px;
        }
    
        .info-content .box-container .bluebox {
            height: 175px;
            width: 175px;
            border: 5px solid #3882F6;
            border-radius: 15px;
        }
        .info .info-content .info-btn {
            width: 100px;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .info .info-content {
            padding-bottom: 25px;
        }

        .info .info-content h2 {
            font-size: 26px;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 30px;
            padding-right: 30px;
        }
    
        .info-content .box-container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;
            gap: 0px;
            padding-bottom: 0px;
        }

        .info-content .box-container .subtext {
            font-size: 18px;
            padding-top: 0px;
        }
    
        .info-content .box-container .bluebox {
            height: 175px;
            width: 175px;
            border: 5px solid #3882F6;
            border-radius: 15px;
            margin-bottom: 25px;
        }
    
        .info .info-content .box-container .box {
            padding-bottom: 25px;
        }
        .info .info-content .info-btn {
            width: 120px;
            margin-top: 15px;
        }   
    }

    @media screen and (max-width: 600px) {
        .info .info-content {
            padding-bottom: 25px;
        }

        .info .info-content h2 {
            font-size: 22px;
            padding-top: 45px;
            padding-bottom: 45px;
        }
    
        .info-content .box-container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;
        }

        .info-content .box-container .subtext {
            font-size: 17px;
        }
    
        .info-content .box-container .bluebox {
            height: 150px;
            width: 150px;
            border: 5px solid #3882F6;
            border-radius: 15px;
            margin-bottom: 25px;
        }
    
        .info .info-content .box-container .box {
            padding-bottom: 25px;
        }
    }
    @media screen and (max-width: 500px) {
        .info {
            width: 100%;
        }
        .info .info-content {
            padding-bottom: 10px;
        }

        .info .info-content h2 {
            font-size: 20px;
            padding-top: 35px;
            padding-bottom: 35px;
        }
    
        .info-content .box-container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
        }

        .info-content .box-container .subtext {
            font-size: 17px;
            padding-top: 5px;
        }
    
        .info .info-content .box-container .box {
            padding-bottom: 15px;
        }

        .info-content .box-container .bluebox {
            height: 150px;
            width: 150px;
            border: 3px solid #3882F6;
            border-radius: 15px;
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 400px) {
        .info .info-content h2 {
            font-size: 18px;
            padding-top: px;
            padding-bottom: px;
        }
    
    }

    /* Details Media Queries */
    .details .detail-content .detail-container {
        width: 900px;
    }

    .details .detail-content .detail-container .detail-header {
        font-size: 30px;
    }

    @media screen and (max-width: 960px) {
        .details .detail-content .detail-container {
            width: 700px;
        }  
        
    }

    @media screen and (max-width: 900px) {
        .details .detail-content .detail-container {
            width: 600px;
        }  

        .details .detail-content .detail-container .detail-header {
            font-size: 28px;
        }

        .details .detail-content .detail-container .detail-subheader {
            font-size: 20px;
        }
    
    }

    @media screen and (max-width: 768px) {
        .details .detail-content .detail-container {
            width: 500px;
        }

        .details .detail-content .detail-container .detail-header {
            font-size: 26px;
        }

        .details .detail-content .detail-container .detail-subheader {
            font-size: 18px;
        }

        .details .detail-content .detail-container .detail-txt {
            font-size: 16px;
        }
       
    }

    @media screen and (max-width: 600px) {
        .details .detail-content .detail-container {
            width: 400px;
        }

        .details .detail-content .detail-container .detail-header {
            font-size: 22px;
        }

        .details .detail-content .detail-container .detail-subheader {
            font-size: 16px;
        }

        .details .detail-content .detail-container .detail-txt {
            font-size: 15px;
        }
    

    }
    @media screen and (max-width: 500px) {
        .details .detail-content .detail-container {
            width: 300px;
        }

        .details .detail-content .detail-container .detail-header {
            font-size: 20px;
        }
    
    }

    @media screen and (max-width: 300px) {
        .details .detail-content {
            padding-bottom: 30px;
        }

        .details .detail-content .detail-container {
            width: 100%;
            gap: 20px;
            padding-bottom: 15px;
        }

        .details .detail-content .detail-container .detail-header {
            font-size: 18px;
        }

        .details .detail-content .detail-container .detail-subheader {
            font-size: 14px;
        }

        .details .detail-content .detail-container .detail-txt {
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
        }

    }
    /* Quote Media Queries */

    .quotes .quote-text {
        padding-top: 80px;
        padding-bottom: 80px;
        
    }

    .quotes .quote-text .quote {
        font-size: 30px;
        display: flex;
        justify-content: center;

    }
    
    .quotes .quote-text .quotee {
        font-size: 18px;
        padding-right: 70px;
    }

    @media screen and (max-width: 900px) {
        .quotes .quote-text {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        .quotes .quote-text .quote {
            font-size: 26px;
    
        }
        
        .quotes .quote-text .quotee {
            font-size: 16px;
            display: flex;
            justify-content: right;
            padding-right: 90px;
        }
        
    }

    @media screen and (max-width: 768px) {
        .quotes .quote-text {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        .quotes .quote-text .quote {
            font-size: 20px;
    
        }
        
        .quotes .quote-text .quotee {
            font-size: 15px;
            display: flex;
            justify-content: right;
            padding-right: 90px;
            padding-top: 5px;
        }
        
    }

    @media screen and (max-width: 600px) {
        .quotes .quote-text {
            padding-top: 50px;
            padding-bottom: 50px;            
        }
    
        .quotes .quote-text .quote {
            font-size: 20px;
            display: flex;
            justify-content: center;
    
        }
        
        .quotes .quote-text .quotee {
            font-size: 16px;
            padding-right: 70px;
        }
        
    }

    @media screen and (max-width: 500px) {
        .quotes {
            width: 100%;
            text-align: center;
        }


        .quotes .quote-text {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }
    
        .quotes .quote-text .quote {
            font-size: 16px;
            display: flex;
            justify-content: center;
        }
        
        .quotes .quote-text .quotee {
            font-size: 12px;
            display: flex;
            justify-content: center;
            padding-right: 0px;
        }
        
    }

    /* CTA Media Queries */
    .cta .blue-container .cta-btn {
        width: 100px;
    }
    
    .cta .blue-container {
        margin-top: 55px;
        margin-bottom: 55px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .cta .blue-container .cta-text h2 {
        font-size: 22px;
    }
    
    .cta .blue-container .cta-text p {
        font-size: 16px;
    }
    @media screen and (max-width: 900px) {
        .cta .blue-container {
            margin-top: 45px;
            margin-bottom: 45px;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-left: 80px;
            margin-right: 80px;
            padding-left: 40px;
            padding-right: 40px;
        }

        .cta .blue-container .cta-btn {
            font-size: 15px;
        }

        .cta .blue-container .cta-text h2 {
            font-size: 20px;
        }
        
        .cta .blue-container .cta-text p {
            font-size: 16px;
        }
        
    }

    @media screen and (max-width: 768px) {
        .cta .blue-container .cta-btn {
            width: 120px;
            font-size: 15px;
        }
        
        .cta .blue-container {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: 60px;
            margin-right: 60px;
            display: flex;
            flex-direction: column;
        }
        
        .cta .blue-container .cta-text h2 {
            font-size: 20px;
        }
        
        .cta .blue-container .cta-text p {
            font-size: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
        }
    }

    @media screen and (max-width: 600px) {
        .cta .blue-container .cta-btn {
            width: 120px;
            font-size: 15px;
        }
        
        .cta .blue-container {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: 40px;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
        }
        
        .cta .blue-container .cta-text h2 {
            font-size: 18px;
        }
        
        .cta .blue-container .cta-text p {
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 15px;
        }
    }

    @media screen and (max-width: 500px) {
        .cta .blue-container .cta-btn {
            width: 120px;
            font-size: 15px;
        }
        
        .cta .blue-container {
            margin-top: 18px;
            margin-bottom: 18px;
            padding-top: 28px;
            padding-bottom: 28px;
            margin-left: 35px;
            margin-right: 35px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .cta .blue-container .cta-text h2 {
            font-size: 16px;
        }
        
        .cta .blue-container .cta-text p {
            font-size: 13px;
            padding-top: 5px;
            padding-bottom: 15px;
        }
    }

    /* Footer Media Queries */

    .footer .foot-text {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 15px;
    }

    @media screen and (max-width: 900px) {
        .footer .foot-text {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 12px;
        }  
    }

    @media screen and (max-width: 768px) {
        
    }

    @media screen and (max-width: 600px) {
        
    }
}
/* End Media Queries */

/*CSS reset*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
}

button:hover, a:hover {
    transition: .5s;
    transform: scale(1.1);
}

.header-hero, .footer {
    background-color: #1f2937;
}

.header {
    max-width: 2000px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.logo {
    width: 250px;
}

.header-content h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 25px;
}

.header-links a:hover {
    color: goldenrod;
}

.hero {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.hero-txt {
    width: 50%;
}

.hero-txt h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-txt p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero-btn {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #3882F6;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 25%;
    padding: 5px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-btn a, .info-btn a, .cta-btn a {
    text-decoration: none;
    color: #F9FAF8;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
    height: 250px;
    text-align: center;
    font-size: 18px;
}

.banner-logo {
    height: 350px;
}

.info {
    background-color: white;
}

.info-content {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content h2 {
    font-size: 36px;
    font-weight:800;
    color: #1f2937;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtext {
    padding-top: 10px;
    font-size: 18px;
    color: #1f2937;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    font-size: 40px;
}

.bluebox i {
    color: #1061e4;
}

.info-btn {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #3882F6;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 165px;
    padding: 5px;
    color: #F9FAF8;
    font-weight: bold;
}


.detail-content {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    gap: 25px;
    max-width: 1300px;
}

.detail-header {
    font-size: 36px;
    font-weight:800;
    color: #1f2937;
    text-align: center;
}

.detail-subheader {
    font-size: 22px;
    font-weight:800;
    color: #1f2937;
    text-align: center;
}

.detail-txt {
    font-size: 18px;
    color: #1f2937;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes {
    background-color: #E5E7EB;
}

.quote-text {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}



.cta {
    background-color: white;
    display: flex;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.blue-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 1300px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.cta-text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.cta-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-btn {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
    outline-color: #F9FAF8;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 12%;
    padding: 5px;
    color: #F9FAF8;
    text-align: center;
    font-weight: bold;
}

.foot-text {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

/* Hamburger Menu */
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #1f2937;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #1a222c;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #1f2937;
    }
  }


  .image-gallery {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 120px;
  }
  
  
  .img-gallery-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 18px;
  }
  
  /* Slideshow container */
  .slideshow-container {
    min-height: 500px;
    position: relative;
    margin: auto;
  }
  
  .slideshow-container img {
    max-height: 500px;
    object-fit: scale-down;
  }
  
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  max-width: 800px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: goldenrod;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: #1f2937;
  }
  
  /* Caption text */
  .text {
  color: #FDFFFC;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #FDFFFC;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #1a222c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: goldenrod;
  }
  
  /* Fading animation */
  .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @media (max-width: 800px) {
  
  
  
  .img-gallery-txt {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .mySlides {
    max-width: 600px;
  }
  
  .text {
    color: #FDFFFC;
    font-size: 26px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold
    }
  
  
  }
  
  @media (max-width: 600px) {

    .slideshow-container {
        min-height: 350px;
      }

    .mySlides {
      max-width: 350px;
    }
  
    .img-gallery-txt {
        font-size: 22px;
    }

    .text {
      color: #FDFFFC;
      font-size: 22px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      font-weight: bold
      }
  }